

* {
    Margin:0;
    padding:0;
    }

body        {   font-family:rockwell;
                background-image: url("https://media.istockphoto.com/id/481701668/vector/circuit-board-background-abstract-computers-technology.jpg?s=612x612&w=0&k=20&c=3hnHfGX8mKUPo32HEAwhGFqctervyJq85-kpopqIVUI=");
            }    
.head       {   margin-bottom: 0px;
                background-color: rgb(7, 84, 104);
                border: solid 3px rgb(7, 84, 104);
                padding: 15px;
                display: inline-block;
                width: 1330px;
                height: 80px;
                
                overflow: hidden; /* esto no sería necesario en este bloque*/
            }

h1          {   color: rgb(215, 215, 241);
                font-size: 300%;
                text-align: center;
            }

h2          {   color: rgb(215, 215, 241);
                font-size: 100%;
                text-align: center;
            }

ul          {   margin-top: -5px;
                height: 50px;
                padding-top: 5px;

                display: flex;
                flex-direction:row;
                justify-content:space-around;

                list-style-type:none;
                overflow: hidden;
                background-color: #333;
            }

li          {   /*float:left;*/
                /*margin-left: 60px;*/
                margin-top: 5px;
                width: 100px; 
                height:30px;
                border: solid 3px grey; 
                border-radius: 5px;
                text-align: center;
            }

li a        {   margin-top: 2px;
                padding-top: 5px;
                color: white;
                display: inline-block;
                text-decoration: none;
            }

.activo     {   background-color: white;
                color: black;
            }

.construct{
    margin-top: 50px;
    margin-left: 500px;
    width: 300px;
    /*height: 300px;*/
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: greenyellow;
    color:red;
    text-align: center;
    font-size: 200%;
    background-image: url(https://png.pngtree.com/element_our/20190601/ourlarge/pngtree-cartoon-worker-looking-at-engineering-drawing-png-material-at-construction-site-image_1340594.jpg);
    background-size: cover;
    
    border: outset 10px cyan;
    border-radius: 50px;
        }
p   {
        color: yellow
    }