

* {
    Margin:0;
    padding:0;
    }

body        {   font-family:rockwell;
            }    
.head       {   margin-bottom: 0px;
                background-color: rgb(7, 84, 104);
                border: solid 3px rgb(7, 84, 104);
                padding: 15px;
                display: inline-block;
                width: 1330px;
                height: 80px;
                
                overflow: hidden; /* esto no sería necesario en este bloque*/
            }

h1          {   color: rgb(215, 215, 241);
                font-size: 300%;
                text-align: center;
            }

h2          {   color: rgb(215, 215, 241);
                font-size: 100%;
                text-align: center;
            }

ul          {   margin-top: -4px;
                height: 30px;
                padding-top: 15px;
                list-style-type:none;
                overflow: hidden;
                background-color: #333;
            }

li          {   float:left;
                margin-left: 70px;
                width: 200px; 
            }

li a        {   color: white;
                display: inline-block;
                text-decoration: none;
            }

.activo     {   background-color: white;
                color: black;
            }

.construct{
    margin-top: 50px;
    margin-left: 500px;
    width: 300px;
    /*height: 300px;*/
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: greenyellow;
    color:red;
    text-align: center;
    font-size: 200%;
    background-image: url(https://png.pngtree.com/element_our/20190601/ourlarge/pngtree-cartoon-worker-looking-at-engineering-drawing-png-material-at-construction-site-image_1340594.jpg);
    background-size: cover;
}